<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>City</key>
		<string>Akihabara</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Akihabara.jpg</string>
		<key>Latitude</key>
		<string>35.6981</string>
		<key>Local</key>
		<string>秋葉原</string>
		<key>Longitude</key>
		<string>139.7735</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>1</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Auckland</string>
		<key>Continent</key>
		<string>Oceania</string>
		<key>Country</key>
		<string>New Zealand</string>
		<key>Image</key>
		<string>Auckland.jpg</string>
		<key>Latitude</key>
		<string>-36.833</string>
		<key>Local</key>
		<string>Auckland</string>
		<key>Longitude</key>
		<string>174.767</string>
		<key>Region</key>
		<string>Auckland</string>
		<key>cityID</key>
		<string>2</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Barcelona</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Spain</string>
		<key>Image</key>
		<string>Barcelona.jpg</string>
		<key>Latitude</key>
		<string>41.3882</string>
		<key>Local</key>
		<string>Barcelona</string>
		<key>Longitude</key>
		<string>2.170</string>
		<key>Region</key>
		<string>Barcelona</string>
		<key>cityID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Beijing</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>Beijing.jpg</string>
		<key>Latitude</key>
		<string>39.904</string>
		<key>Local</key>
		<string>北京</string>
		<key>Longitude</key>
		<string>116.410</string>
		<key>Region</key>
		<string>Beijing</string>
		<key>cityID</key>
		<string>4</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Berlin</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Germany</string>
		<key>Image</key>
		<string>Berlin.jpg</string>
		<key>Latitude</key>
		<string>52.519</string>
		<key>Local</key>
		<string>Berlin</string>
		<key>Longitude</key>
		<string>13.407</string>
		<key>Region</key>
		<string>Berlin</string>
		<key>cityID</key>
		<string>5</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Birmingham</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>Birmingham.jpg</string>
		<key>Latitude</key>
		<string>52.485</string>
		<key>Local</key>
		<string>Birmingham</string>
		<key>Longitude</key>
		<string>-1.890</string>
		<key>Region</key>
		<string>West Midlands</string>
		<key>cityID</key>
		<string>6</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Boston</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>Boston.jpg</string>
		<key>Latitude</key>
		<string>42.359</string>
		<key>Local</key>
		<string>Boston</string>
		<key>Longitude</key>
		<string>-71.060</string>
		<key>Region</key>
		<string>Massachusetts</string>
		<key>cityID</key>
		<string>7</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Buenos Aires</string>
		<key>Continent</key>
		<string>South America</string>
		<key>Country</key>
		<string>Argentina</string>
		<key>Image</key>
		<string>BuenosAires.jpg</string>
		<key>Latitude</key>
		<string>-34.604</string>
		<key>Local</key>
		<string>Buenos Aires</string>
		<key>Longitude</key>
		<string>-58.381</string>
		<key>Region</key>
		<string>Autonomous City</string>
		<key>cityID</key>
		<string>8</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Canberra</string>
		<key>Continent</key>
		<string>Oceania</string>
		<key>Country</key>
		<string>Australia</string>
		<key>Image</key>
		<string>Canberra.jpg</string>
		<key>Latitude</key>
		<string>-35.308</string>
		<key>Local</key>
		<string>Canberra</string>
		<key>Longitude</key>
		<string>149.124</string>
		<key>Region</key>
		<string>Australian Capital Territory</string>
		<key>cityID</key>
		<string>9</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Cardiff</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>Cardiff.jpg</string>
		<key>Latitude</key>
		<string>51.480</string>
		<key>Local</key>
		<string>Cardiff</string>
		<key>Longitude</key>
		<string>-3.178</string>
		<key>Region</key>
		<string>Wales</string>
		<key>cityID</key>
		<string>10</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Chiba</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Chiba.jpg</string>
		<key>Latitude</key>
		<string>35.604</string>
		<key>Local</key>
		<string>千葉</string>
		<key>Longitude</key>
		<string>140.107</string>
		<key>Region</key>
		<string>Chiba</string>
		<key>cityID</key>
		<string>11</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Chicago</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>Chicago.jpg</string>
		<key>Latitude</key>
		<string>41.879</string>
		<key>Local</key>
		<string>Chicago</string>
		<key>Longitude</key>
		<string>-87.628</string>
		<key>Region</key>
		<string>Illinois</string>
		<key>cityID</key>
		<string>12</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Chongqing</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>Chongqing.jpg</string>
		<key>Latitude</key>
		<string>29.562</string>
		<key>Local</key>
		<string>重庆</string>
		<key>Longitude</key>
		<string>106.552</string>
		<key>Region</key>
		<string>Chongqing</string>
		<key>cityID</key>
		<string>13</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Cologne</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Germany</string>
		<key>Image</key>
		<string>Cologne.jpg</string>
		<key>Latitude</key>
		<string>50.938</string>
		<key>Local</key>
		<string>Köln</string>
		<key>Longitude</key>
		<string>6.962</string>
		<key>Region</key>
		<string>North Rhine-Westphalia</string>
		<key>cityID</key>
		<string>14</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Cupertino</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>Cupertino.jpg</string>
		<key>Latitude</key>
		<string>37.3225</string>
		<key>Local</key>
		<string>Cupertino</string>
		<key>Longitude</key>
		<string>-122.0322</string>
		<key>Region</key>
		<string>California</string>
		<key>cityID</key>
		<string>15</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Edinburgh</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>Edinburgh.jpg</string>
		<key>Latitude</key>
		<string>55.9525</string>
		<key>Local</key>
		<string>Edinburgh</string>
		<key>Longitude</key>
		<string>-3.187</string>
		<key>Region</key>
		<string>Scotland</string>
		<key>cityID</key>
		<string>16</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Florence</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Italy</string>
		<key>Image</key>
		<string>Florence.jpg</string>
		<key>Latitude</key>
		<string>43.7715</string>
		<key>Local</key>
		<string>Firenze</string>
		<key>Longitude</key>
		<string>11.248</string>
		<key>Region</key>
		<string>Florence</string>
		<key>cityID</key>
		<string>17</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Frankfurt</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Germany</string>
		<key>Image</key>
		<string>Frankfurt.jpg</string>
		<key>Latitude</key>
		<string>50.111</string>
		<key>Local</key>
		<string>Frankfurt</string>
		<key>Longitude</key>
		<string>8.684</string>
		<key>Region</key>
		<string>Hesse</string>
		<key>cityID</key>
		<string>18</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Ginza</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Ginza.jpg</string>
		<key>Latitude</key>
		<string>35.67168</string>
		<key>Local</key>
		<string>銀座</string>
		<key>Longitude</key>
		<string>139.76418</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>19</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Guangzhou</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>Guangzhou.jpg</string>
		<key>Latitude</key>
		<string>23.125</string>
		<key>Local</key>
		<string>广州</string>
		<key>Longitude</key>
		<string>113.263</string>
		<key>Region</key>
		<string>Guangdong</string>
		<key>cityID</key>
		<string>20</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Hamburg</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Germany</string>
		<key>Image</key>
		<string>Hamburg.jpg</string>
		<key>Latitude</key>
		<string>53.548</string>
		<key>Local</key>
		<string>Hamburg</string>
		<key>Longitude</key>
		<string>9.998</string>
		<key>Region</key>
		<string>Hamburg</string>
		<key>cityID</key>
		<string>21</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Hong Kong</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>HongKong.jpg</string>
		<key>Latitude</key>
		<string>22.282</string>
		<key>Local</key>
		<string>香港</string>
		<key>Longitude</key>
		<string>114.147</string>
		<key>Region</key>
		<string>Hong Kong</string>
		<key>cityID</key>
		<string>22</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Houston</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>Houston.jpg</string>
		<key>Latitude</key>
		<string>29.761</string>
		<key>Local</key>
		<string>Houston</string>
		<key>Longitude</key>
		<string>-95.368</string>
		<key>Region</key>
		<string>Texas</string>
		<key>cityID</key>
		<string>23</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Hualien</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Taiwan</string>
		<key>Image</key>
		<string>Hualien.jpg</string>
		<key>Latitude</key>
		<string>23.965</string>
		<key>Local</key>
		<string>花蓮</string>
		<key>Longitude</key>
		<string>121.604</string>
		<key>Region</key>
		<string>Hualien</string>
		<key>cityID</key>
		<string>24</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Ikebukuro</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Ikebukuro.jpg</string>
		<key>Latitude</key>
		<string>35.72975</string>
		<key>Local</key>
		<string>池袋</string>
		<key>Longitude</key>
		<string>139.71121</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>25</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Kaohsiung</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Taiwan</string>
		<key>Image</key>
		<string>Kaohsiung.jpg</string>
		<key>Latitude</key>
		<string>22.639</string>
		<key>Local</key>
		<string>高雄</string>
		<key>Longitude</key>
		<string>120.302</string>
		<key>Region</key>
		<string>Kaohsiung</string>
		<key>cityID</key>
		<string>26</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Kobe</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Kobe.jpg</string>
		<key>Latitude</key>
		<string>34.6904</string>
		<key>Local</key>
		<string>神戸</string>
		<key>Longitude</key>
		<string>135.1952</string>
		<key>Region</key>
		<string>Hyōgo</string>
		<key>cityID</key>
		<string>27</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Kuala Lumpur</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Malaysia</string>
		<key>Image</key>
		<string>KualaLumpur.jpg</string>
		<key>Latitude</key>
		<string>3.138</string>
		<key>Local</key>
		<string>Kuala Lumpur</string>
		<key>Longitude</key>
		<string>101.688</string>
		<key>Region</key>
		<string>Federal Territory</string>
		<key>cityID</key>
		<string>28</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Kyoto</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Kyoto.jpg</string>
		<key>Latitude</key>
		<string>35.0116</string>
		<key>Local</key>
		<string>京都</string>
		<key>Longitude</key>
		<string>135.769</string>
		<key>Region</key>
		<string>Kyoto</string>
		<key>cityID</key>
		<string>29</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Leeds</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>Leeds.jpg</string>
		<key>Latitude</key>
		<string>53.801</string>
		<key>Local</key>
		<string>Leeds</string>
		<key>Longitude</key>
		<string>-1.547</string>
		<key>Region</key>
		<string>West Yorkshire</string>
		<key>cityID</key>
		<string>30</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Liverpool</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>Liverpool.jpg</string>
		<key>Latitude</key>
		<string>53.407</string>
		<key>Local</key>
		<string>Liverpool</string>
		<key>Longitude</key>
		<string>-2.992</string>
		<key>Region</key>
		<string>Merseyside</string>
		<key>cityID</key>
		<string>31</string>
	</dict>
	<dict>
		<key>City</key>
		<string>London</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>London.jpg</string>
		<key>Latitude</key>
		<string>51.510</string>
		<key>Local</key>
		<string>London</string>
		<key>Longitude</key>
		<string>-0.130</string>
		<key>Region</key>
		<string>Greater London</string>
		<key>cityID</key>
		<string>32</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Los Angeles</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>LosAngeles.jpg</string>
		<key>Latitude</key>
		<string>34.052</string>
		<key>Local</key>
		<string>Los Angeles</string>
		<key>Longitude</key>
		<string>-118.244</string>
		<key>Region</key>
		<string>California</string>
		<key>cityID</key>
		<string>33</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Lyon</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>France</string>
		<key>Image</key>
		<string>Lyon.jpg</string>
		<key>Latitude</key>
		<string>45.7636</string>
		<key>Local</key>
		<string>Lyon</string>
		<key>Longitude</key>
		<string>4.837</string>
		<key>Region</key>
		<string>Rhône-Alpes</string>
		<key>cityID</key>
		<string>34</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Madrid</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Spain</string>
		<key>Image</key>
		<string>Madrid.jpg</string>
		<key>Latitude</key>
		<string>40.418</string>
		<key>Local</key>
		<string>Madrid</string>
		<key>Longitude</key>
		<string>-3.700</string>
		<key>Region</key>
		<string>Madrid</string>
		<key>cityID</key>
		<string>35</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Manchester</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>Manchester.jpg</string>
		<key>Latitude</key>
		<string>53.478</string>
		<key>Local</key>
		<string>Manchester</string>
		<key>Longitude</key>
		<string>-2.249</string>
		<key>Region</key>
		<string>Greater Manchester</string>
		<key>cityID</key>
		<string>36</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Marseille</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>France</string>
		<key>Image</key>
		<string>Marseille.jpg</string>
		<key>Latitude</key>
		<string>43.295</string>
		<key>Local</key>
		<string>Marseille</string>
		<key>Longitude</key>
		<string>5.372</string>
		<key>Region</key>
		<string>Provence-Alpes-Côte d'Azur</string>
		<key>cityID</key>
		<string>37</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Meguro</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Meguro.jpg</string>
		<key>Latitude</key>
		<string>35.6341</string>
		<key>Local</key>
		<string>目黒</string>
		<key>Longitude</key>
		<string>139.7152</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>38</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Miami</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>Miami.jpg</string>
		<key>Latitude</key>
		<string>25.7884</string>
		<key>Local</key>
		<string>Miami</string>
		<key>Longitude</key>
		<string>-80.226</string>
		<key>Region</key>
		<string>Florida</string>
		<key>cityID</key>
		<string>39</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Milan</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Italy</string>
		<key>Image</key>
		<string>Milan.jpg</string>
		<key>Latitude</key>
		<string>45.4655</string>
		<key>Local</key>
		<string>Milano</string>
		<key>Longitude</key>
		<string>9.187</string>
		<key>Region</key>
		<string>Milan</string>
		<key>cityID</key>
		<string>40</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Montreal</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>Canada</string>
		<key>Image</key>
		<string>Montreal.jpg</string>
		<key>Latitude</key>
		<string>45.505</string>
		<key>Local</key>
		<string>Montreal</string>
		<key>Longitude</key>
		<string>-73.551</string>
		<key>Region</key>
		<string>Quebec</string>
		<key>cityID</key>
		<string>41</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Mountain View</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>MountainView.jpg</string>
		<key>Latitude</key>
		<string>37.3863</string>
		<key>Local</key>
		<string>Mountain View</string>
		<key>Longitude</key>
		<string>-122.085</string>
		<key>Region</key>
		<string>California</string>
		<key>cityID</key>
		<string>42</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Munich</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Germany</string>
		<key>Image</key>
		<string>Munich.jpg</string>
		<key>Latitude</key>
		<string>48.135</string>
		<key>Local</key>
		<string>München</string>
		<key>Longitude</key>
		<string>11.578</string>
		<key>Region</key>
		<string>Bavaria</string>
		<key>cityID</key>
		<string>43</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Nagoya</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Nagoya.jpg</string>
		<key>Latitude</key>
		<string>35.1814</string>
		<key>Local</key>
		<string>名古屋</string>
		<key>Longitude</key>
		<string>136.9066</string>
		<key>Region</key>
		<string>Aichi</string>
		<key>cityID</key>
		<string>44</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Nanjing</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>Nanjing.jpg</string>
		<key>Latitude</key>
		<string>32.060</string>
		<key>Local</key>
		<string>南京</string>
		<key>Longitude</key>
		<string>118.797</string>
		<key>Region</key>
		<string>Jiangsu</string>
		<key>cityID</key>
		<string>45</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Narita</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Narita.jpg</string>
		<key>Latitude</key>
		<string>35.775</string>
		<key>Local</key>
		<string>成田</string>
		<key>Longitude</key>
		<string>140.320</string>
		<key>Region</key>
		<string>Chiba</string>
		<key>cityID</key>
		<string>46</string>
	</dict>
	<dict>
		<key>City</key>
		<string>New York</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>NewYork.jpg</string>
		<key>Latitude</key>
		<string>40.712</string>
		<key>Local</key>
		<string>New York</string>
		<key>Longitude</key>
		<string>-74.005</string>
		<key>Region</key>
		<string>New York</string>
		<key>cityID</key>
		<string>47</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Osaka</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Osaka.jpg</string>
		<key>Latitude</key>
		<string>34.6932</string>
		<key>Local</key>
		<string>大阪</string>
		<key>Longitude</key>
		<string>135.5020</string>
		<key>Region</key>
		<string>Osaka</string>
		<key>cityID</key>
		<string>48</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Oxford</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>Oxford.jpg</string>
		<key>Latitude</key>
		<string>51.7504</string>
		<key>Local</key>
		<string>Oxford</string>
		<key>Longitude</key>
		<string>-1.255</string>
		<key>Region</key>
		<string>Oxfordshire</string>
		<key>cityID</key>
		<string>49</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Palo Alto</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>PaloAlto.jpg</string>
		<key>Latitude</key>
		<string>37.441</string>
		<key>Local</key>
		<string>Palo Alto</string>
		<key>Longitude</key>
		<string>-122.142</string>
		<key>Region</key>
		<string>California</string>
		<key>cityID</key>
		<string>50</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Paris</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>France</string>
		<key>Image</key>
		<string>Paris.jpg</string>
		<key>Latitude</key>
		<string>48.8559</string>
		<key>Local</key>
		<string>Paris</string>
		<key>Longitude</key>
		<string>2.352</string>
		<key>Region</key>
		<string>Paris</string>
		<key>cityID</key>
		<string>51</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Philadelphia</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>Philadelphia.jpg</string>
		<key>Latitude</key>
		<string>39.951</string>
		<key>Local</key>
		<string>Philadelphia</string>
		<key>Longitude</key>
		<string>-75.164</string>
		<key>Region</key>
		<string>Pennsylvania</string>
		<key>cityID</key>
		<string>52</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Rio de Janeiro</string>
		<key>Continent</key>
		<string>South America</string>
		<key>Country</key>
		<string>Brazil</string>
		<key>Image</key>
		<string>RioDeJaneiro.jpg</string>
		<key>Latitude</key>
		<string>-22.905</string>
		<key>Local</key>
		<string>Rio de Janeiro</string>
		<key>Longitude</key>
		<string>-43.210</string>
		<key>Region</key>
		<string>Rio de Janeiro</string>
		<key>cityID</key>
		<string>53</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Rome</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>Italy</string>
		<key>Image</key>
		<string>Rome.jpg</string>
		<key>Latitude</key>
		<string>41.900</string>
		<key>Local</key>
		<string>Roma</string>
		<key>Longitude</key>
		<string>12.459</string>
		<key>Region</key>
		<string>Rome</string>
		<key>cityID</key>
		<string>54</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Salvador</string>
		<key>Continent</key>
		<string>South America</string>
		<key>Country</key>
		<string>Brazil</string>
		<key>Image</key>
		<string>Salvador.jpg</string>
		<key>Latitude</key>
		<string>-12.972</string>
		<key>Local</key>
		<string>Salvador</string>
		<key>Longitude</key>
		<string>-38.511</string>
		<key>Region</key>
		<string>Bahia</string>
		<key>cityID</key>
		<string>55</string>
	</dict>
	<dict>
		<key>City</key>
		<string>San Francisco</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>SanFrancisco.jpg</string>
		<key>Latitude</key>
		<string>37.7749</string>
		<key>Local</key>
		<string>San Francisco</string>
		<key>Longitude</key>
		<string>-122.419</string>
		<key>Region</key>
		<string>California</string>
		<key>cityID</key>
		<string>56</string>
	</dict>
	<dict>
		<key>City</key>
		<string>São Paulo</string>
		<key>Continent</key>
		<string>South America</string>
		<key>Country</key>
		<string>Brazil</string>
		<key>Image</key>
		<string>SaoPaulo.jpg</string>
		<key>Latitude</key>
		<string>-23.554</string>
		<key>Local</key>
		<string>São Paulo</string>
		<key>Longitude</key>
		<string>-46.644</string>
		<key>Region</key>
		<string>São Paulo</string>
		<key>cityID</key>
		<string>57</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Sapporo</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Sapporo.jpg</string>
		<key>Latitude</key>
		<string>43.0616</string>
		<key>Local</key>
		<string>札幌</string>
		<key>Longitude</key>
		<string>141.354</string>
		<key>Region</key>
		<string>Hokkaido</string>
		<key>cityID</key>
		<string>58</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Seattle</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>Seattle.jpg</string>
		<key>Latitude</key>
		<string>47.606</string>
		<key>Local</key>
		<string>Seattle</string>
		<key>Longitude</key>
		<string>-122.331</string>
		<key>Region</key>
		<string>Washington</string>
		<key>cityID</key>
		<string>59</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Shanghai</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>Shanghai.jpg</string>
		<key>Latitude</key>
		<string>31.228</string>
		<key>Local</key>
		<string>上海</string>
		<key>Longitude</key>
		<string>121.474</string>
		<key>Region</key>
		<string>Shanghai</string>
		<key>cityID</key>
		<string>60</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Shenyang</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>Shenyang.jpg</string>
		<key>Latitude</key>
		<string>41.804</string>
		<key>Local</key>
		<string>沈阳</string>
		<key>Longitude</key>
		<string>123.431</string>
		<key>Region</key>
		<string>Liaoning</string>
		<key>cityID</key>
		<string>61</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Shibuya</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Shibuya.jpg</string>
		<key>Latitude</key>
		<string>35.6636</string>
		<key>Local</key>
		<string>渋谷</string>
		<key>Longitude</key>
		<string>139.6982</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>62</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Shinagawa</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Shinagawa.jpg</string>
		<key>Latitude</key>
		<string>35.6301</string>
		<key>Local</key>
		<string>品川</string>
		<key>Longitude</key>
		<string>139.7405</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>63</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Shinjuku</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Shinjuku.jpg</string>
		<key>Latitude</key>
		<string>35.6936</string>
		<key>Local</key>
		<string>新宿</string>
		<key>Longitude</key>
		<string>139.7035</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>64</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Singapore</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Singapore</string>
		<key>Image</key>
		<string>Singapore.jpg</string>
		<key>Latitude</key>
		<string>1.277</string>
		<key>Local</key>
		<string>Singapore</string>
		<key>Longitude</key>
		<string>103.849</string>
		<key>Region</key>
		<string>Singapore</string>
		<key>cityID</key>
		<string>65</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Sumida</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Sumida.jpg</string>
		<key>Latitude</key>
		<string>35.7107</string>
		<key>Local</key>
		<string>墨田</string>
		<key>Longitude</key>
		<string>139.8017</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>66</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Sydney</string>
		<key>Continent</key>
		<string>Oceania</string>
		<key>Country</key>
		<string>Australia</string>
		<key>Image</key>
		<string>Sydney.jpg</string>
		<key>Latitude</key>
		<string>-33.872</string>
		<key>Local</key>
		<string>Sydney</string>
		<key>Longitude</key>
		<string>151.210</string>
		<key>Region</key>
		<string>New South Wales</string>
		<key>cityID</key>
		<string>67</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Taichung</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Taiwan</string>
		<key>Image</key>
		<string>Taichung.jpg</string>
		<key>Latitude</key>
		<string>24.1364</string>
		<key>Local</key>
		<string>台中</string>
		<key>Longitude</key>
		<string>120.686</string>
		<key>Region</key>
		<string>Taichung</string>
		<key>cityID</key>
		<string>68</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Tainan</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Taiwan</string>
		<key>Image</key>
		<string>Tainan.jpg</string>
		<key>Latitude</key>
		<string>22.9951</string>
		<key>Local</key>
		<string>台南</string>
		<key>Longitude</key>
		<string>120.213</string>
		<key>Region</key>
		<string>Tainan</string>
		<key>cityID</key>
		<string>69</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Taipei</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Taiwan</string>
		<key>Image</key>
		<string>Taipei.jpg</string>
		<key>Latitude</key>
		<string>25.044</string>
		<key>Local</key>
		<string>台北</string>
		<key>Longitude</key>
		<string>121.517</string>
		<key>Region</key>
		<string>Taipei</string>
		<key>cityID</key>
		<string>70</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Tianjin</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>Tianjin.jpg</string>
		<key>Latitude</key>
		<string>39.082</string>
		<key>Local</key>
		<string>天津</string>
		<key>Longitude</key>
		<string>117.202</string>
		<key>Region</key>
		<string>Tianjian</string>
		<key>cityID</key>
		<string>71</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Tokyo</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Tokyo.jpg</string>
		<key>Latitude</key>
		<string>35.6807</string>
		<key>Local</key>
		<string>東京</string>
		<key>Longitude</key>
		<string>139.7667</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>72</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Toronto</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>Canada</string>
		<key>Image</key>
		<string>Toronto.jpg</string>
		<key>Latitude</key>
		<string>43.650</string>
		<key>Local</key>
		<string>Toronto</string>
		<key>Longitude</key>
		<string>-79.385</string>
		<key>Region</key>
		<string>Ontario</string>
		<key>cityID</key>
		<string>73</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Ueno</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Ueno.jpg</string>
		<key>Latitude</key>
		<string>35.7088</string>
		<key>Local</key>
		<string>上野</string>
		<key>Longitude</key>
		<string>139.7743</string>
		<key>Region</key>
		<string>Special Wards of Tokyo</string>
		<key>cityID</key>
		<string>74</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Vancouver</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>Canada</string>
		<key>Image</key>
		<string>Vancouver.jpg</string>
		<key>Latitude</key>
		<string>49.2606</string>
		<key>Local</key>
		<string>Vancouver</string>
		<key>Longitude</key>
		<string>-123.114</string>
		<key>Region</key>
		<string>British Columbia</string>
		<key>cityID</key>
		<string>75</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Victoria</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>Canada</string>
		<key>Image</key>
		<string>Victoria.jpg</string>
		<key>Latitude</key>
		<string>48.43</string>
		<key>Local</key>
		<string>Victoria</string>
		<key>Longitude</key>
		<string>-123.36</string>
		<key>Region</key>
		<string>British Columbia</string>
		<key>cityID</key>
		<string>76</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Washington</string>
		<key>Continent</key>
		<string>North America</string>
		<key>Country</key>
		<string>United States</string>
		<key>Image</key>
		<string>Washington.jpg</string>
		<key>Latitude</key>
		<string>38.894</string>
		<key>Local</key>
		<string>Washington</string>
		<key>Longitude</key>
		<string>-77.036</string>
		<key>Region</key>
		<string>District of Columbia</string>
		<key>cityID</key>
		<string>77</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Wellington</string>
		<key>Continent</key>
		<string>Oceania</string>
		<key>Country</key>
		<string>New Zealand</string>
		<key>Image</key>
		<string>Wellington.jpg</string>
		<key>Latitude</key>
		<string>-41.289</string>
		<key>Local</key>
		<string>Wellington</string>
		<key>Longitude</key>
		<string>174.777</string>
		<key>Region</key>
		<string>Wellington</string>
		<key>cityID</key>
		<string>78</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Westminster</string>
		<key>Continent</key>
		<string>Europe</string>
		<key>Country</key>
		<string>United Kingdom</string>
		<key>Image</key>
		<string>Westminster.jpg</string>
		<key>Latitude</key>
		<string>51.4978</string>
		<key>Local</key>
		<string>Westminster</string>
		<key>Longitude</key>
		<string>-0.1299</string>
		<key>Region</key>
		<string>Greater London</string>
		<key>cityID</key>
		<string>79</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Wuhan</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>China</string>
		<key>Image</key>
		<string>Wuhan.jpg</string>
		<key>Latitude</key>
		<string>30.588</string>
		<key>Local</key>
		<string>武汉</string>
		<key>Longitude</key>
		<string>114.307</string>
		<key>Region</key>
		<string>Hubei</string>
		<key>cityID</key>
		<string>80</string>
	</dict>
	<dict>
		<key>City</key>
		<string>Yokohama</string>
		<key>Continent</key>
		<string>Asia</string>
		<key>Country</key>
		<string>Japan</string>
		<key>Image</key>
		<string>Yokohama.jpg</string>
		<key>Latitude</key>
		<string>35.4426</string>
		<key>Local</key>
		<string>横浜</string>
		<key>Longitude</key>
		<string>139.638</string>
		<key>Region</key>
		<string>Kanagawa</string>
		<key>cityID</key>
		<string>81</string>
	</dict>
</array>
</plist>
